
@font-face {
    font-family: "Brandon-Printed";
    src: url("../fonts/BrandonPrinted-One-Shadow.otf") format("opentype");
    /* src: url("../fonts/BrandonPrinted-Two-Shadow.otf") format("opentype"); */
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');


body { 
    color: #292929; 
    background-color: #cbc4c4;
    padding: 0;
    margin: 0;
}

header, footer {
  background-color: #292929;
  font-family:'Brandon-Printed';
  font-size: 18px;
  font-style: normal;
  position: relative;
}
header {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}
footer {
    padding: 2rem 0;
    font-family: 'Nunito Sans', sans-serif;  
    color: #FFFFFF
}
footer .innerContainer {
    margin: auto;
    width: fit-content;
}
header .logo {
    grid-area: 1 / 1 / span 1 / span 1;
}
header .logo img {
    width: 91px;
    margin-left: 3.5rem;
    height: -webkit-fill-available;
}
header .list {
    display: flex;
    width: fit-content;
    gap: 4.875rem;
    margin: auto;
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 2.2rem 0;
    text-align: center;
}
header a {
  cursor: pointer;
  color: #FFFFFF; 
  text-decoration: none;
}

.container {
    background-color: #FFFFFF;
}
.fullVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.fullVideo iframe {
    border: none;
}
 .fullVideo::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #02969F;
   top: 0;
   left: 0;
} 

.brandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .brandon {
        font-size: 30px !important;
    }
    .redBrandon {
        font-size: 30px !important;
        padding: 1rem 0.5rem 0.5rem !important;
    }
}

@media screen and (max-width: 368px) {
     .two {
        position: relative;
        top: 0.5rem;
    } 
    .brandon {
        margin: 3rem auto 0.5rem auto !important ;
    }
}


.redBrandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    color: #FFFFFF;
    width: fit-content;
    padding: 1.5rem 1rem 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

.firstText {
 margin: 3.375rem auto 1.375rem;
 padding-left: 1rem;
 padding-right: 1rem;
 position: relative;
}

.firstText .brandon {
 margin: 3rem auto auto;
 text-align: center;
}
.firstText .nunito {
    margin: 2.26rem auto 1rem;
    text-align: center; 
   }
   .firstText .brandon span {
    margin: 1rem auto;
   } 
 .firstText .redBrandon {
    margin: 1.5rem auto;
    text-align: center;
   }
   .firstText .two {
    background-image: url("../assets/svg/Vector\ 2.svg") ;
   }
   .firstText .three {
    background-image: url("../assets/svg/Vector\ 3.svg") ;
   }
.infograficaPasta {
    position: relative;
}
.infograficaPasta img {
    position: relative;
    width: 100%;
    max-width: 1440px;
}
.infograficaPasta {
    padding: 1rem 5rem;
    text-align: center;
}


/* animation */
section {
    position: relative;
    transform: translateY(200px); 
}
.visibleScroll {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
}
.visible {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 0s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 0s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 0s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 0s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transition: opacity 0s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
} 
