
@font-face {
    font-family: "Brandon-Printed";
    src: url("../fonts/BrandonPrinted-One-Shadow.otf") format("opentype");
    /* src: url("../fonts/BrandonPrinted-Two-Shadow.otf") format("opentype"); */
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');


body { 
    color: #292929; 
    background-color: #cbc4c4;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.headerContainer, header, footer {
  background-color: #292929;
  font-family:'Brandon-Printed';
  font-size: 18px;
  font-style: normal;
  position: relative;
}
.headerContainer {
    display: flex;
    z-index: 1;
    justify-content: space-between;
}
footer {
    padding: 2rem 0;
    font-family: 'Nunito Sans', sans-serif;  
    color: #FFFFFF
}
footer .innerContainer {
    margin: auto;
    width: fit-content;
}
.headerContainer .logo {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1rem 0;
}
.headerContainer .logo img {
    width: 91px;
    margin-left: 3.5rem;
    height: -webkit-fill-available;
}
.headerContainer .list {
    display: none;
    width: fit-content;
    gap: 4.875rem;
    margin: auto;
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 2.2rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .headerContainer .list {
      display: flex;
    }
    .headerContainer .logo {
        padding: 0rem 0;
    }
  }

  .headerContainer a {
  cursor: pointer;
  color: #FFFFFF; 
  text-decoration: none;
}

.collpsedList {
    top: -100%; 
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    padding: 2.2rem 0;
    text-align: center;
    background-color: #292929;
    transition-delay: 2s;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: all 1s cubic-bezier(.19,1,.22,1);
    -ms-transition: all 1s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1s cubic-bezier(.19,1,.22,1);
    transition: all 1s cubic-bezier(.19,1,.22,1);
}

.collapsed {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    z-index: 1;
    transition-delay: 2s;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: all 1s cubic-bezier(.19,1,.22,1);
    -ms-transition: all 1s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1s cubic-bezier(.19,1,.22,1);
    transition: all 1s cubic-bezier(.19,1,.22,1);
}

.collpsedList a {
    cursor: pointer;
    color: #FFFFFF; 
    text-decoration: none;
    display: block;
    text-align: left;
    width: fit-content;
    margin: 1rem auto;
  }



.container {
    background-color: #FFFFFF;
}
.fullVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.fullVideo iframe {
    border: none;
}
 /* .fullVideo::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #02969F;
   top: 0;
   left: 0;
}  */

.brandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    width: 100%;
}

.redBrandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    color: #FFFFFF;
    width: fit-content;
    padding: 1.5rem 1rem 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    width: 100%;
}

.text {
 margin: 3.375rem auto 1.375rem;
 padding-left: 1rem;
 padding-right: 1rem;
 position: relative;
}

.text .brandon {
 margin: 3rem auto auto;
 text-align: center;
}
.text .nunito {
    margin: 2.26rem auto 1rem;
    text-align: center; 
    max-width: 1000px;
   }
.text .brandon span {
    margin: 1rem auto;
    line-height: 4rem;
   } 
 .text .redBrandon {
    margin: 1.5rem auto;
    text-align: center;
   }
.text .one {
    background-image: url("../assets/svg/Vector\ 1.svg") ;
   }
.text .two {
    background-image: url("../assets/svg/Vector\ 2.svg") ;
   }
.text .three {
    background-image: url("../assets/svg/Vector\ 3.svg") ;
   }
.text .four {
    background-image: url("../assets/svg/Vector\ 4.svg") ;
   }
.infograficaPasta {
     position: relative;
    overflow: hidden; 
    overflow: initial;
    margin-top: 0;
    transform-origin: top center;
    width: 100%;
}
/* .infograficaPasta::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 5s cubic-bezier(.19,1,.22,1);
    background: radial-gradient(#f2f2f200, #ffffff, #ffffff);
    opacity: 1;
} */
.infograficaPasta img {
    position: relative;
    width: 100%;
}
.infograficaPasta {
    padding: 1rem 5rem;
    text-align: center;
    width: calc(100% - 10rem);
}

.bigB {
    font-size: 80px !important;
}
.smallB {
    font-size: 40px !important;
}
 .smallN {
    font-size: 16px !important;
}
.bigN {
    font-size: 30px !important;
}


.titleImg {
   display: flex;
   width: fit-content;
   max-width: 1400px;
   gap: 1.3rem;
   margin: auto;
   align-items: center;
   padding-left: 0.5em;
}
.titleImg .brandon {
    margin: auto 0;
    text-align: left;
 }
.titleImg img {
    max-width: 110px;
}
.titleImg .image {
    width: fit-content;
}
.ricicloRed {
    background-image: url("../assets/svg/VectorRicicloRed.svg");
    background-repeat: no-repeat;
    width: calc(100%  - 5rem);
    max-width: 1500px;
    background-size: cover;
    margin: auto;
    position: relative;
}
.ricicloRed .innerContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.ricicloRed .text {
    margin-top: 0;
}
.ricicloRed .image {
    position: relative;
    display: flex;
}
.ricicloRed .image img {
    width: 100%;
}
.ricicloRed .brandon {
    color: #FFFFFF;
    text-align: left;
}
.ricicloRed .nunito {
    color: #FFFFFF;
    text-align: left;
    line-height: 30px;
}

.ricicloGrey {
    background-image: url("../assets/svg/VectorRicicloGrey.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    max-width: 1500px;
    width: 100%;
}
.ricicloGrey .innerContainer {
    padding: 5rem 2rem;
    margin: auto;
}
.ricicloGrey .text {
    margin-top: 0;
}
.ricicloGrey .image {
    position: relative;
    display: flex;
}
.ricicloGrey .image img {
    width: 100%;
}
.ricicloGrey .brandon {
    color: #FFFFFF;
    max-width: 890px;
}
.ricicloGrey .nunito {
    color: #FFFFFF;
    line-height: 30px;
}
.ricicloGrey .flexNumber {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 3rem;
}

.ricicloGrey .flexNumber img {
    grid-area: 1 / 1 / span 2 / span 1;
    max-width: 60px;
}

.ricicloGrey .flexNumber .brandon {
    font-size: 65px;
    color: #E01F26;
    text-align: left;
    margin-top: 0;
}
.ricicloGrey .flexNumber .minus {
    grid-area: 1 / 2 / span 1 / span 1;
    line-height: 70px;
}
.ricicloGrey .flexNumber .number {
    grid-area: 1 / 3 / span 1 / span 1;
}
.ricicloGrey .flexNumber .nunito {
    margin-top: 0;
    text-align: left;
    grid-area: 2 / 3 / span 1 / span 1;
}
.ricicloGrey .flexNumber .text {
  padding: 0;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto auto auto;
}


/* media queries */

@media screen and (max-width: 1300px) {
   .flexNumber .brandon {
      font-size: 50px !important;
   }
   .flexNumber .minus {
    line-height: 60px !important;
 }
}
@media screen and (max-width: 1140px) {
    .flexNumber .brandon {
       font-size: 40px !important;
    }
    .flexNumber .minus {
        line-height: 60px !important;
     }
    .flexNumber img {
        max-width: 50px !important;
     }
     .ricicloRed .text .brandon {
        font-size: 40px;
        margin-top: 4rem;
    }
 }


@media screen and (max-width: 368px) {
    .two {
       position: relative;
       top: 0.5rem;
   } 
  #impegno .brandon {
       margin: 3rem auto 0.5rem auto !important ;
   }
}



@media screen and (max-width: 989px) {
    .flex, .flexNumber {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 1.5rem;
    }
    .flex .image {
        margin: auto;
    }
    .flex .column {
        width: 100% !important;
    }
    .ricicloRed .innerContainer {
      display: block;
    }
    .ricicloRed .text {
        margin-bottom: 2.5rem;
    }

}

@media screen and (max-width: 800px) {

    .containerRicicloRed {
        max-width: 1500px;
    }
    .ricicloRed {
        width: calc(100%  - 3rem);
    }
    .ricicloRed .text .nunito {
        text-align: center;
    }
    .ricicloRed .text .brandon {
        font-size: 32px;
        margin-top: 4rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .brandon {
        font-size: 30px !important;
    }
    .redBrandon {
        font-size: 30px !important;
        padding: 1rem 0.5rem 0.5rem !important;
    }
}
@media screen and (max-width: 400px) {
    .flexNumber .brandon {
        font-size: 40px !important;
     }
}


/* burger menu */

.burger {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  .burger:focus {
    outline: 0;
  }
  .burger .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
  }
  .burger .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 768px) {
    .burger {
      display: none;
    }
  }


/* button */
.button {
    width: 100%;
    display: flex;
    position: relative;
    margin: 3rem auto;
}
.button a {
    cursor: pointer;
    padding: 1.5rem 1rem 1.5rem 1rem;
    position: relative;
    border: none;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: url("../assets/svg/Vector\ button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-decoration: none;
}

/* line */
.lineSection {
    overflow: visible;
}
.line {
    position: relative;
    width: 90%;
    margin: 2rem auto;
    max-width: 1440px;
}
.line img {
    width: 100%;
}
/* animation */
section {
    position: relative;
    overflow: hidden;
    transform: translateY(200px); 
}

.visibleScroll {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
}
.visible {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
} 

/* youtube */

.fullVideo .ytp-more-videos-view {
    overflow: hidden;
    display: none !important; 
}
 .fullVideo .ytp-endscreen-content {
    display: none !important;
}
.fullVideo .ytp-pause-overlay-container {
    display: none !important;
}


/* counter */

.flexNumber .text .brandon span {
    margin: 0;
    padding-top: 7px;
    top: -5px;
    position: relative;
}
.counter {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 4.130rem;
  font-size: 3.125rem;
  color: #333;
  margin: 0 1.25rem 0.625rem;
}
.counter > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  line-height: 1;
}
.counter > span span {
  flex: 0 0 100%;
  height: 100%;
}
.text:nth-child(1) .counter > span {
  transition-delay: 0.2s;
}
.text:nth-child(2) .counter > span {
  transition-delay: 0.5s;
}
.text:nth-child(3) .counter > span {
  transition-delay: 0.8s;
}
  

  .smooth {
    transition: transform 0.4s ease-out !important;
  }


  /* hero animation */

  /* .heroAnimation {
    position: relative;
    height: 250vh;
  }

  .sticky {
    width: 100%;
    height: 100vh;
    top: 0;
    position: sticky;
    overflow: hidden;
  }

  #infografica {
    transform-origin: top center;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) !important;
  }

  #firstText {
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) !important;
  }
  #ricicloRed {
    position: absolute;
    width: 100%;
    left: 0;
     top: 50%;
    transform: translateY(-30%); 
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) !important;
    margin: 0;
  }

   .afterHeroAnimation {
      margin-top: calc(-50vh + 400px);  
  } 

  .visibleLastDivAnimation {
    opacity: 1 !important;
    -webkit-transition: all 3s cubic-bezier(.19,1,.22,1) !important;
    transform: translateY(-50%);
  }
  .hiddenLastDivAnimation {
    opacity: 0 !important;
    -webkit-transition: all 1.5s cubic-bezier(.19,1,.22,1) !important;
    transform: translateY(-50%);
  } */



  /* carousel  */
  .active {
    scroll-snap-type: none;
  }
  .card {
    position: relative;
    margin-left: 0.5rem;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .card .brandon {
    color: #FFFFFF;
    text-align: left;
    width: fit-content;
  }
  
  .card .absolute {
    position: absolute;
    width: 100%;
    padding-left: 80px;

  }
  .card .impattoZero {
    text-align: left;
    padding-bottom: 40px;
  }

  .card .red .bigNumber {
    font-size: 120px;
    position: absolute;
    left: -28px;
    top: -28px
  }
  .card .red {
    padding: 2rem 3rem 4rem;
    left: 70px;
    background: url('../assets/svg/bgTextSlide.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 503px;
    color: #FFFFFF;
    text-align: left;
    overflow: visible;
  }

  .card .red .brandon {
    padding: 0;
  }
  .card .red .nunito {
    padding-top: 1rem;
    line-height: 1.5rem;
  }
  .card .background {
    max-width: 1200px;
    width: 90vw;
    position: relative;
  }

  /*  swiper */ 
  .swiper-wrapper {
    height: auto;
    width: auto;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper {
    max-width: 1500px;
  }
  .card .background_mobile {
    display: none;
    position: relative;
  }
  @media screen and (max-width:1200px) {
    .card .absolute {
      top: 56%;
    }
    .swiper {
      padding-bottom: 130px;
    }
  }

  @media screen and (max-width:992px)  {
    .responsiveB {
      font-size: 30px !important;
    }
    .responsiveSmallB {
      font-size: 25px !important;
    }
    .bigNumber {
      font-size: 100px;
      top: -18px;
    }
    .swiper {
      padding-bottom: 130px;
      padding-right: 60px;
    }
    .bigNumber {
      font-size: 120px !important;
    }
  }
  @media screen and (max-width:670px)  {
    .card .red {
      margin-left: 25px;
      max-width: 314px;
      min-height: 263px;
      box-sizing: border-box;
      padding: 16px 25px 38px 48px;
      left: 15px;
    }
    .card .background {
      display: none;
    }
    .card .red .bigNumber {
      left: -24px;
    }
    .card .background_mobile {
      display: block;
    }

    .card .absolute {
      top: 270px;
      padding-left: 50px;
    }
    .responsiveB, .responsiveSmallB {
      color: #292929 !important;
      font-size: 24px !important;
      text-align: center !important;
    }
    .red .responsiveB {
      color: #FFFFFF !important;
      text-align: left !important;
    }
    .responsiveSmallB {
      padding-top: 16px;
    }
    .card .brandon {
      width:auto;
    }
    .swiper {
      padding-bottom: 200px;
      padding-right: 10px;
    }
    .card {
      margin-left: 0;
    }
    .first_absolute {
      top:440px !important;
      padding-left: 0 !important;
    }
  }
  @media screen and (max-width:670px) {
    .card .absolute {
      top: 270px
    }
  }

  
  /* scroll trigger */

  #animation {
    position: relative;
    height: max-content;
    min-height: 400px;
    padding: 10px 5%;
    background-color: transparent;
    text-align: center;
  }
  #ricicloRed {
    position: sticky;
  }