
  #about {
    position: relative;
    height: 100vh;
    min-height: 400px;
    padding: 10px 5%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  i {
    animation: 2s infinite linear pump;
    position: relative;
    margin-top: 10px;
  }
  
  @keyframes pump {
    0% {
      top: -10px;
    }
  
    50% {
      top: 10px;
    }
  
    100% {
      top: -10px;
    }
  }
  
  .profiles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .profiles .column-container {
    position: relative;
    width: 50%;
    height: 300px;
    /* border: 1px solid white; */
  }
  
  .profiles .column {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    height: 200px;
    width: 200px;
    background-color: black;
  }
  
  #philipp .profile-image {
    background-image: url(https://picsum.photos/id/237/200/300);
    background-position: center center;
    background-size: cover;
  }
  
  #lisa .profile-image {
    background-image: url(https://picsum.photos/id/237/200/300);
    background-position: center center;
    background-size: cover;
  }