
@font-face {
    font-family: "Brandon-Printed";
    src: url("../fonts/BrandonPrinted-One-Shadow.otf") format("opentype");
    /* src: url("../fonts/BrandonPrinted-Two-Shadow.otf") format("opentype"); */
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');


body { 
    color: #292929; 
    background-color: #cbc4c4;
    padding: 0;
    margin: 0;
    font-weight: 400;
}


.link {
  color: #0070D8;
  text-decoration: underline;
}
.downButton {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 50%;
  cursor: pointer;
  z-index: 3;
  right:-1px;
  padding: 0;
  left: auto;
  /* transform-origin: right;
  transform: rotate(-90deg); */
  opacity: 0;
}
footer {
  padding: 2rem;
}
footer .innerContainer {
  width: fit-content;
}
footer .secondRow {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: #FFFFFF;
}
 .footerContainer {
  display: flex;
  justify-content: center;
  z-index: 1;
  gap: 2.5rem;
}
.footerContainer a {
  white-space: nowrap;
}
 .secondRow {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
}
.headerContainer, header, footer, .footerContainer{
  background-color: #292929;
  font-family:'Brandon-Printed';
  font-size: 18px;
  font-style: normal;
  position: relative;
}
.headerContainer {
    display: flex;
    z-index: 1;
    justify-content: space-between;
}
.headerContainer .logo, .footerContainer .logo {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1rem 0;
}
.headerContainer .logo img, .footerContainer .logo img {
    width: 91px;
    margin-left: 1rem;
    height: -webkit-fit-content;
}



.headerContainer .list {
    display: none;
    width: calc(100% - 147px - 8rem);
    max-width: 1000px;
    gap: 2rem;
    justify-content: space-between;

    margin: auto;
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 2.2rem 0;
    text-align: center;
}
.footerContainer .list {
  display: flex;
  width: 100%;
  max-width: 1000px;
  gap: 2rem;
  justify-content: space-between;

  margin: auto;
  grid-area: 1 / 2 / span 1 / span 1;
  padding: 2.2rem 0;
  text-align: center;
}

   .footerContainer .logo img {
      margin-left: 2rem;
  }


@media (max-width: 999px) {
  .headerContainer .list  {
    width: calc(100% - 147px - 4rem);
 }
 .footerContainer .innerContainer {
  margin: auto;
}

 .footerContainer, .footerContainer .firstRow, .footerContainer .secondRow {
   display: block;
 }
 .footerContainer .list {
  padding: 1rem 0;
 }
 .footerContainer .logo {
  padding: 0;
  text-align: center;
 }
 .footerContainer .firstRow a , .footerContainer .secondRow a {
  display: block;
  padding-top: 1.25rem;
  text-align: center;
 }
 .footerContainer .logo img {
  margin-left: 0;
 }
}
@media (max-width: 500px) {
  .footerContainer .firstRow a , .footerContainer .secondRow a {
    text-align: left;
   }
   .footerContainer .innerContainer {
    margin: 0;
   }
   .footerContainer .logo {
    text-align: left;
   }

}


@media (min-width: 1000px) {
     .headerContainer .list {
      display: flex;
    }
    .headerContainer .logo img {
      margin-left: 3rem;
  }

  }

  .headerContainer a, .footerContainer a {
  cursor: pointer;
  color: #FFFFFF; 
  text-decoration: none;
}

.collapsedList {
    top: -100%; 
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    /* text-align: center; */
    background-image: url("../assets/svg/VectorBurgerMenu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition-delay: 2s;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: all 1s cubic-bezier(.19,1,.22,1);
    -ms-transition: all 1s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1s cubic-bezier(.19,1,.22,1);
    transition: all 1s cubic-bezier(.19,1,.22,1);
}

.collapsed {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    z-index: 1;
    padding: 2.2rem 0;
    transition-delay: 2s;
    -webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: all 1s cubic-bezier(.19,1,.22,1);
    -ms-transition: all 1s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1s cubic-bezier(.19,1,.22,1);
    transition: all 1s cubic-bezier(.19,1,.22,1);
}

.collapsedList a {
    cursor: pointer;
    color: #FFFFFF; 
    text-decoration: none;
    display: block;
    text-align: left;
    width: fit-content;
    margin: 1rem;
  }
  .collapsedList img {
    margin: 0 1rem;
  }



.container {
    background-color: #FFFFFF;
    position: relative;
}
.tips, .progettoIndonesia {
  padding-bottom: 4rem;
}
.fullVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
}

.fullVideo iframe {
    border: none;
}
 /* .fullVideo::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #02969F;
   top: 0;
   left: 0;
}  */

.brandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    width: 100%;
}

.redBrandon {
    font-family:'Brandon-Printed';
    font-size: 50px;
    font-style: normal;
    color: #FFFFFF;
    width: fit-content;
    padding: 1.5rem 1rem 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    width: 100%;
    line-height: 30px;
}

.ref {
  font-size: 12px;
}
.text {
 margin: auto;
 padding: 3.375rem 0 1.375rem;
 padding-left: 1rem;
 padding-right: 1rem;
 position: relative;
}

.text .brandon {
 margin: 3rem auto auto;
 text-align: center;
}
.text .nunito {
    margin: 2.26rem auto 1rem;
    text-align: center; 
    max-width: 1000px;
   }
.text .brandon span {
    margin: 1rem auto;
    line-height: 4rem;
   } 
 .text .redBrandon {
    margin: 1.5rem auto;
    text-align: center;
   }
.text .one {
    background-image: url("../assets/svg/Vector-1.svg") ;
    padding: 1.3rem 1rem 1rem 1rem !important;
    background-size: 100% 100%;
   }
.text .two {
    background-image: url("../assets/svg/Vector-2.svg") ;
    padding: 1.3rem 2rem 1rem 2rem !important;
    background-size: 100% 100%;
   }
.text .three {
    background-image: url("../assets/svg/Vector-3.svg") ;
    text-align: left;
    width: min-content;
    padding: 1.5rem 2rem !important;
   }
   @media screen and (min-width: 856px) {
    .text .three {
      white-space: nowrap;
    }
  }
  @media screen and (min-width: 475px) and (max-width: 600px) {
    .text .three {
      white-space: nowrap;
    }
 }

.text .four {
    background-image: url("../assets/svg/Vector-4.svg") ;
    background-size: 100% 100%;
   }
.infograficaPasta {
     position: relative;
    overflow: hidden; 
    overflow: initial;
    margin-top: 0;
    transform-origin: top center;
    width: 100%;
    transform: scale(3);
}
.infograficaPasta svg {
    position: relative;
    width: 100%;
    height: auto;
}
.infograficaPasta {
    padding: 1rem 5rem;
    text-align: center;
    width: calc(100% - 10rem);
}

.bigB {
    font-size: 80px !important;
}
.smallB {
    font-size: 40px !important;
}
 .smallN {
    font-size: 16px !important;
}
.bigN {
    font-size: 30px !important;
}


.titleImg {
   display: flex;
   width: fit-content;
   max-width: 1400px;
   gap: 1.3rem;
   margin: auto;
   align-items: center;
   padding-left: 0.5em;
}
.titleImg .brandon {
    margin: auto 0;
    text-align: left;
 }
.titleImg img {
    max-width: 110px;
}
.titleImg .image {
    width: fit-content;
}
.ricicloRed {
    background-image: url("../assets/svg/VectorRicicloRed.svg");
    background-repeat: no-repeat;
    width: calc(100%  - 5rem);
    max-width: 1500px;
    background-size: cover;
    margin: auto;
    position: relative;
}
.ricicloRed .innerContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.ricicloRed .text {
    margin-top: 0;
}
.ricicloRed .image {
    position: relative;
    display: flex;
    padding: 1rem;
}
.ricicloRed .image img {
    width: 100%;
}
.ricicloRed .brandon {
    color: #FFFFFF;
    text-align: left;
}
.ricicloRed .nunito {
    color: #FFFFFF;
    text-align: left;
    line-height: 30px;
}

.ricicloGrey {
    background-image: url("../assets/svg/VectorRicicloGrey.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    max-width: 1500px;
    width: 100%;
}
.ricicloGrey .innerContainer {
    padding: 5rem 2rem;
    margin: auto;
}
.ricicloGrey .text {
    margin-top: 0;
}
.ricicloGrey .image {
    position: relative;
    display: flex;
}
.ricicloGrey .image img {
    width: 100%;
    margin-bottom: 1rem;
}
.ricicloGrey .brandon {
    color: #FFFFFF;
    max-width: 890px;
}
.ricicloGrey .nunito {
    color: #FFFFFF;
    line-height: 30px;
}
.ricicloGrey .flexNumber {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 3rem;
}

.ricicloGrey .flexNumber img {
    grid-area: 1 / 1 / span 2 / span 1;
    max-width: 60px;
}

.ricicloGrey .flexNumber .brandon {
    font-size: 65px;
    color: #E01F26;
    text-align: left;
    margin-top: 0;
}
.ricicloGrey .flexNumber .minus {
    grid-area: 1 / 2 / span 1 / span 1;
    line-height: 70px;
    text-align: center;
}
.ricicloGrey .flexNumber .number {
    grid-area: 1 / 3 / span 1 / span 1;
}
.ricicloGrey .flexNumber .nunito {
    margin-top: 0;
    text-align: left;
    grid-area: 2 / 3 / span 1 / span 1;
}
.ricicloGrey .flexNumber .text {
  padding: 0;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto auto auto;
}


/* media queries */

@media screen and (max-width: 1300px) {
   .flexNumber .brandon {
      font-size: 50px !important;
   }
   .flexNumber .minus {
    line-height: 60px !important;
 }
}
@media screen and (max-width: 1140px) {
    .flexNumber .brandon {
       font-size: 40px !important;
    }
    .flexNumber .minus {
        line-height: 60px !important;
     }
    .flexNumber img {
        max-width: 50px !important;
     }
     .ricicloRed .text .brandon {
        font-size: 40px;
        margin-top: 4rem;
    }
 }


@media screen and (max-width: 368px) {
    .two {
       position: relative;
       top: 0.5rem;
   } 
  #impegno .brandon {
       margin: 3rem auto 0.5rem auto !important ;
   }
}



@media screen and (max-width: 989px) {
    .flex, .flexNumber {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
        gap: 1.5rem;
    }
    .flex .image {
        margin: auto;
    }
    .flex .column {
        width: 100% !important;
    }
    .ricicloRed .innerContainer {
      display: block;
    }
    .ricicloRed .text {
        margin-bottom: 2.5rem;
        padding-top: 0;
    }
}
@media screen and (max-width: 800px) {

    .ricicloRed {
        width: 100%;
        background-image: url("../assets/svg/VectorRicicloRedMobile.svg");
    }
    .ricicloRed .text .nunito {
        text-align: center;
    }
    .ricicloRed .text .brandon {
        font-size: 32px;
        margin-top: 4rem;
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    .brandon {
        font-size: 23px !important;
    }
    .bigB {
      font-size: 38px !important;
    }
    .redBrandon {
        font-size: 23px !important;
        padding: 1rem 0.5rem 0.5rem !important;
    }

    .nunito {
      font-size: 20px !important;
      line-height: 26px;
    }

    .ricicloRed .nunito {
      margin-top: 1rem;
    }
    .ricicloGrey .innerContainer {
      padding: 2rem 1rem;
      margin: auto;
  }
  .flexNumber .text {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .ricicloGrey .image {
    width: 200%;
    margin-bottom: 3rem;
    left: -1rem;
  }
  section {
    margin-top: 1rem !important;
  }
  .firstSection {
    margin-top: 0rem !important;
  }

   .text .nunito, .text .brandon {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .counter {
    margin-bottom: 0 !important;
  }
  .line {
    margin: auto !important;
  }
}
@media screen and (max-width: 400px) {
    .text .three {
      margin-left: 0;
      margin-right: 0;
    }
 
    .flexNumber .brandon {
        font-size: 40px !important;
     }
     .left {
      text-align: left !important;
    }
    .titleImg img {
      max-width: 90px;
   }
   .text {
    padding-top: 1.375rem;
   }
   .secondSection .text {
    padding-top: 2.375rem;
   }
   .titleImg img {
    max-width: 69px;
}
}


/* burger menu */

.burger {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  .collapse span:nth-child(1){
    transform: rotate(45deg);
    transition: all 1s cubic-bezier(.19,1,.22,1);
    position: relative;
    top: 6px;
  }
  .collapse span:nth-child(2){
    opacity: 0;
    transform: translate(20px);
    transition: all 1s cubic-bezier(.19,1,.22,1);
  }
  .collapse span:nth-child(3){
    transform: rotate(-45deg);
    transition: all 1s cubic-bezier(.19,1,.22,1);
    position: relative;
    top: -6px;
  }

  .burger:focus {
    outline: 0;
  }
  .burger .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
  }
  .burger .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 1000px) {
    .burger {
      display: none;
    }
  }


/* button */

.button {
    width: 100%;
    display: flex;
    position: relative;
    margin: 3rem auto;
}
.button a {
    cursor: pointer;
    padding: 1.5rem 1rem 1.5rem 1rem;
    position: relative;
    border: none;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: auto;
    text-decoration: none;

}

.buttonRed a {
  background: url("../assets/svg/Vector-button.svg");
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;

}
.buttonWhite a {
  background: url("../assets/svg/buttonWhite.svg");
  color: #E01F26;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.buttonWhite {
 margin: 2rem auto 0;
}

/* line */
.lineSection {
    overflow: visible;
}
.line {
    position: relative;
    width: 90%;
    margin: 2rem auto;
    max-width: 1440px;
}
.line img {
    width: 100%;
}
/* animation */
section {
    position: relative;
    overflow: hidden;
    transform: translateY(200px); 
}

.visibleScroll {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
}
.visible {
    opacity: 1 !important;
    transition-delay: 2s;
    -webkit-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1) ;
    -moz-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -ms-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    -o-transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transition: opacity 5s cubic-bezier(.19,1,.22,1), transform 0s cubic-bezier(.19,1,.22,1);
    transform: translateY(0);
} 

/* youtube */

.fullVideo .ytp-more-videos-view {
    overflow: hidden;
    display: none !important; 
}
 .fullVideo .ytp-endscreen-content {
    display: none !important;
}
.fullVideo .ytp-pause-overlay-container {
    display: none !important;
}


/* counter */

.flexNumber .text .brandon span {
    margin: 0;
    padding-top: 7px;
    top: -5px;
    position: relative;
}
.counter {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 4.130rem;
  font-size: 3.125rem;
  color: #333;
  margin: 0 1.25rem 0.625rem;
}
.counter > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  line-height: 1;
}
.counter > span span {
  flex: 0 0 100%;
  height: 100%;
}
.text:nth-child(1) .counter > span {
  transition-delay: 0.2s;
}
.text:nth-child(2) .counter > span {
  transition-delay: 0.5s;
}
.text:nth-child(3) .counter > span {
  transition-delay: 0.8s;
}
  

  .smooth {
    transition: transform 0.4s ease-out !important;
  }


  /* swiper  */
  .active {
    scroll-snap-type: none;
  }
  .card {
    position: relative;
    margin-left: 0.5rem;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .card .brandon {
    color: #FFFFFF;
    text-align: left;
    width: fit-content;
  }
  
  .card .absolute {
    position: absolute;
    width: 100%;
    padding-left: 80px;

  }
  .card .impattoZero {
    text-align: left;
    padding-bottom: 40px;
  }

  .card .red .bigNumber {
    font-size: 120px;
    position: absolute;
    left: -28px;
    top: -28px
  }
  .card .red {
    padding: 2rem 3rem 4rem;
    left: 70px;
    background: url('../assets/svg/bgTextSlide.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 503px;
    color: #FFFFFF;
    text-align: left;
    overflow: visible;
  }

  .card .red .brandon {
    padding: 0;
  }
  .card .red .nunito {
    padding-top: 1rem;
    line-height: 1.5rem;
  }
  .card .background {
    max-width: 1200px;
    width: 90vw;
    position: relative;
  }
 
  .swiper-wrapper {
    height: auto;
    width: auto;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper {
    max-width: 1500px;
  }
  .card .background_mobile {
    display: none;
    position: relative;
  }
  @media screen and (max-width:1200px) {
    .card .absolute {
      top: 56%;
    }
    .swiper {
      padding-bottom: 130px;
    }
  .progettoIndonesia .swiper {
    padding-bottom: 0px;
  }
  }

  @media screen and (max-width:992px)  {
    .responsiveB {
      font-size: 30px !important;
    }
    .responsiveSmallB {
      font-size: 25px !important;
    }
    .bigNumber {
      font-size: 100px;
      top: -18px;
    }
    .swiper {
      padding-bottom: 130px;
      padding-right: 60px;
    }
    .bigNumber {
      font-size: 120px !important;
    }
  }
  @media screen and (max-width:670px)  {
    .card .red {
      margin-left: 25px;
      max-width: 314px;
      min-height: 263px;
      box-sizing: border-box;
      padding: 16px 25px 38px 48px;
      left: 15px;
    }
    .card .background {
      display: none;
    }
    .card .red .bigNumber {
      left: -24px;
    }
    .card .background_mobile {
      display: block;
    }

    .card .absolute {
       top: 270px; 
      padding-left: 50px;
    }
    .responsiveB, .responsiveSmallB {
      color: #292929 !important;
      font-size: 24px !important;
    }
    .red .responsiveB {
      color: #FFFFFF !important;
      text-align: left !important;
    }
    .responsiveSmallB {
      padding-top: 16px;
    }
    .card .brandon {
      width:auto;
    }
    .swiper {
      padding-bottom: 300px;
      padding-right: 10px;
    }
    .card {
      margin-left: 0;
    }
    .first_absolute {
      top:440px !important;
      padding-left: 1rem !important;
      width: calc(100% - 1rem) !important;
    }
  }

  


  .leftAlways {
    text-align: left !important;
  }
  /* scroll trigger */

  #animation {
    position: relative;
    height: max-content;
    min-height: 400px;
    padding: 10px 5%;
    background-color: transparent;
    text-align: center;
  }
  #ricicloRed {
    position: sticky;
  }

  .mobile {
    display: none;
  }
 

   @media screen and  (max-width:1399px) {
    #animation {
      padding-left: 0 !important;
      padding-right: 0 !important;
     }
     .infograficaPasta {
      width: 100% !important;
      padding: 1rem 0;
    }
   }


  @media screen and (max-width:599px) {
   .infograficaPasta {
     transform: scale(2.1);
   }
   #animation {
    padding-left: 0 !important;
    padding-right: 0 !important;
   }
   .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
  }



  .arrow {
    stroke-dasharray: 100% !important;
    stroke-dashoffset: 100%;
  }


  section {
    margin-top: 3rem;
  }

  .firstSection {
    margin-top: 0rem;
  }


  /* tips */

  .tips {
    padding-bottom: 5rem;
  }

  .tips .contentWidth {
    max-width: 1400px;
    width: calc(100% - 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left !important;
  }

  .tips .grid {
    margin: auto;
    max-width: 1400px;
    width: calc(100% - 4rem);
    padding-left: 2rem;
    padding-right: 2rem;

    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-between;
    height: fit-content;
  }
     .tips .grid .text, .tips .grid .contentWidth  {
      width: 100%;
      padding-left: 0rem;
      padding-right: 0rem;
    } 
    .tips .nogrid .smallB {
      padding: 0 !important;
    }

    .tips .image4season {
      margin: 2rem auto;
    }
    .tips .image4season img {
      width: 100%;
      max-width: 420px;
    }
  .tips .subtitle {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0.3rem;
  }
  .tips .nunito {
    line-height: 32px;
  }

  .tips a {
    cursor: pointer;
  }

  .tips .smallB {
    top: 9px;
    position: relative;
  }

  .tips .flex {
    display: flex;
    gap: 4%;
  }
  .tips .flex img {
   width: 100%;
   max-width: 110px;
  }
  .tips .season img  { 
    height: fit-content;
    padding-top: 3.375rem;
    margin-top: 2.26rem;
  }
  .tips .flex .tipsImage {
    max-width: 360px;
  }

  .tips .step {
    position: relative;
    left: -20px;
  }

  @media screen and (max-width: 989px) {
    .tips .grid {
      display: block;
    }
    .tips .season img  {
      height: min-intrinsic;
    }
    .tips .flex .tipsImage {
      margin: auto;
    }
    .tips .season {
      flex-direction: row;
    }
    .tips .season img  {
      max-width: 60px;
      padding-top: 0.5rem;
      margin-top: 0;
    }
    .tips .season .text .nunito {
      margin-top: 0;
    }
    .tips .season .text  {
      padding-top: 0.5rem;
    }
    .tips .first .text .brandon {
      margin-top: 0;
    }

     .tips .text {
      padding-left: 0rem;
      padding-right: 0rem;
    } 
  }

  .tips .first {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
  }
  /* progetto indonesia */

  .progettoIndonesia .hero img {
    width: 100%;
  }

  .progettoIndonesia .logoRimbaRaya {
    margin: 3rem auto auto auto;
  }
  .progettoIndonesia .logoRimbaRaya img {
    width: 100%;
    max-width: 322px;
  }
  .progettoIndonesia .hero .brandon {
    color: white;
    position: absolute;
    text-align: center;
    height: fit-content;
    margin: auto;
    bottom: 50%;
    top: 50%;
  }
  .progettoIndonesia .contentWidth {
    max-width: 1400px;
    width: calc(100% - 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left !important;
  }
  .progettoIndonesia .flex .brandon {
    margin-top: 0;
  }
  .progettoIndonesia .flex .nunito {
    margin-top: 1rem;
    text-align: left;
    max-width: 1400px;
  }
  .progettoIndonesia .flex .text {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .progettoIndonesia .text {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .progettoIndonesia .flex {
    display: grid;
    grid-template-columns: 43% 52%;
    width: calc(100% - 4rem);
    margin: auto;
    max-width: 1400px;
    align-items: center;
    gap: 5%;
  }
  .progettoIndonesia .flex img {
   width: 100%;
  }

  .progettoIndonesia .full {
    grid-template-columns: auto !important;
    gap:0;
    margin-bottom: 1rem;
  }

  .progettoIndonesia .full .nunito{
    max-width: 1400px;
  }
  .progettoIndonesia .order .flex {
    grid-template-columns: 52% 43%;
  }
  .progettoIndonesia .order img {
    order: 1;
  }
  .progettoIndonesia .subtitle {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0.3rem;
  }
  .progettoIndonesia .nunito {
    line-height: 32px;
  }

  .progettoIndonesia .small {
    display: none;
   }
   .progettoIndonesia .big {
     display: block;
   }

  @media screen and (max-width: 600px) {

    .progettoIndonesia .subtitle {
      font-size: 24px !important;
    }
  }

  @media screen and (max-width: 1100px) {

    .progettoIndonesia .flex {
      display: block;
    }
    .progettoIndonesia .flex .text { 
      padding-top: 2rem;
    }
    .progettoIndonesia .flex .contentWidth { 
      padding-left: 0rem;
      margin-left: 0;
      margin-right: 0;
    }
    .progettoIndonesia .small {
     display: block;
    }
    .progettoIndonesia .big {
      display: none;
    }
  }


    /*  swiper indonesia */ 
    .progettoIndonesia .swiper-wrapper {
      height: auto;
      width: auto;
      padding-bottom: 1rem;
    }
    .progettoIndonesia .swiper-slide {
      width: auto;
    }
    .progettoIndonesia .swiper {
      max-width: 100%;
      /* max-width: 1500px; */
      margin-left: 2rem;
    }
    .progettoIndonesia  .card .background {
      max-width: 536px !important;
      width: 85vw;
    }
  
    @media screen and (max-width:992px)  {
      .progettoIndonesia  .swiper {
        padding-bottom: 0px;
        padding-right: 60px;
      }

    }
    @media screen and (max-width:670px)  {

      .progettoIndonesia  .card .background {
        display: block;
        max-width: 536px;
      }

      .progettoIndonesia  .swiper {
        padding-right: 10px;
      }
      .progettoIndonesia  .card {
        margin-left: 0;
      }

    }

    #animation {
      z-index: 1;
    }

    #ricicloRed {
      z-index: 0;
    }